<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstJob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-info">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="home_link" class="nav-link active" href="#">Home</a>
        </li>
        <li class="dropdown">
          <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#">Job Posts
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="jobs_link" href="#">Employee Seekers</a></li>
            <li><a id="workers_link" href="#">Job Seekers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a id="new_post_link" class="nav-link active" href="#">Create a Post</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
